*, *::before, *::after {
    box-sizing: border-box;
    font-family: fantasy, sans-serif;
    font-weight: normal;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C)
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 70%;
    width: 30%;
    height: 100%;
    background: linear-gradient(#00AAFF, #00AAFF);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

body::after {
    content: '';
    position: fixed;
    top: 0%;
    left: 0%;
    width: 30%;
    height: 100%;
    background: linear-gradient(#00FF6C, #00FF6C);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2.5rem;
    border: 1.5px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}